#textChat {
    width: 100%;
    height: 100vh;
    background-color: #212529;
}

#chatTitle {
    text-align: center;
    color: pink;
}

.message {
    list-style: none;
    text-align: center;
    color: white;
    font-size: 12px;
}

.textUsername {
    font-size: 8px;
    color: #738aa1;
}

#textChatInput {
    position: absolute; 
    bottom: 16px;
    height: 20px;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 10px;
    width: 11.9vw;
}

#textChatInput:focus {
    color: white;
}